<% provide(:title, "Contace") %>

<section id="contactSection">
  <%= render 'shared/brand' %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <br>
        <p class="contactHeader">If you are interested in bringing PowerShare to your community, contact us at:</p>
        <p class="contactHeader">571-215-6069</p>
        <p class="contactHeader">or</p>
        <p id="emailAddress"><a href="mailto:powershare.community@gmail">powershare.community@gmail.com</a></p>
        <br>
      	<br>
      	<br>
      </div>
    </div>
  </div>
</section>