<% provide(:title, 'Home') %>
<% if logged_in? %>
  <%= render 'shared/user_info' %>
<% end %>
<h1><em>Your Current Priority: </em></h1>
<%= render 'shared/feed' %>
<% if logged_in? %>
	<%= render 'shared/micropost_form' %>
<% end %>
