<div id="aboutSection">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 text-center">
        <h1 id="aboutHeader"><span class="goldWord">About</span></h1>
        <p id="aboutText">PowerShare's mission is to help your community  prioritize goals in real time. Whether your community is a town, a city, a district, or a state, PowerShare wants to ensure that voters and elected officials have a clear and transparent idea of what they are trying to achieve. Started in Medford, Massachusetts, we look forward to serving communities across the United States and around the globe.</p>
      </div>
    </div>
  </div> 
</div>