<section id="contactSection">
  <div class="container-fluid">
    <div id="contactSlot"> 
      <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">      
          <h4 class="contactHead">If you are interested in bringing PowerShare to your community, contact us at:</h4>
          <h3 class="contactHead">571-215-6069</h3>
          <h5 class="contactHead">or</h5>
          <p class="contactHead"><a href="mailto:powershare.community@gmail">powershare.community@gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
</section>