<% if object.errors.any? %>
  <div id="error_explanation" class="text-center">
    <div class="alert alert-danger">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <% object.errors.full_messages.each do |msg| %>
      <p class="errorDetail"><%= msg %></p>
    <% end %>
    <br>
  </div>
<% end %>