<table id="goalsTable" class="table table-striped" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>Goal</th>
			<th>Votes</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<div class="checkRadioContainer">
  		<%= render @feed_items %>
  		<%= will_paginate @feed_items %>
		</div>
	</tbody>
</table>

<button type="button" class="btn btn-primary btn-success" id="submitPriorityButton" onclick="submitPriority()">Submit Selection</button>