<br>
<div class="container">
	<div class="row">
  	<div class="col-sm-12">
  		<table class="responsive no-wrap" id="goalTable" cellspacing="0" width="100%">
  			<thead>
  				<tr>
  					<th></th>
  				</tr>
  			</thead>
  			<tbody>
  				<%= render @feed_items %>
  			</tbody>
  		</table>
  	</div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#goalTable').DataTable({
      responsive: true
    });
  });
</script>