<table id="goalsTable" class="table table-striped" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>Goal</th>
			<th>Votes</th>
			<th></th>
			<th>Representative Comments</th>
		</tr>
	</thead>
	<tbody>
		<div class="checkRadioContainer">
  		<%= render @feed_items %>
  		<%= will_paginate @feed_items %>
		</div>
	</tbody>
</table>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center"> 
			<button type="button" class="btn btn-primary btn-success" id="submitPriorityButton" onclick="submitPriority()">Submit Selection</button>
		</div>
	</div>
</div>

