<div class="container">
	<div class="row">
  	<div class="col-sm-12 text-center">
  		<table class="table" id="table">
  			<thead>
  				<tr>
  					<th></th>
  				</tr>
  			</thead>
  			<tbody>
  				<%= render @feed_items %>
  			</tbody>
  		</table>
  	</div>
  </div>
</div>