<section id="topSection">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">

        <%= image_tag("logo2.png", :alt => "Powershare logo", :id => "logo") %>
        
        <div id="subtitleSlot">
          <h1 class="subtitle">Your Community. Your Priority.</h1>
          <hr>
        </div>

      </div>
    </div>
  </div>
</section>
