@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  background-color: #7f3e98;;
  font-family: "MS Sans-serif", sans-serif, Georgia;
}

.goldWord {
  color: #cea600;
}

.subtitle {
  font-weight: bold;
  color: #6d6874;
  font-style: italic;
}

#topSection {
  background-color: white;
}

#aboutSection {
  background-color: #282828;
  color: white;
}

#contactSection {
  background-color: #C8C8C8;
}

#loginSection {
  background-color: white;
}

.users {
  list-style-type: none;
}

.goals {
  list-style-type: none;
}

#loginText {
  font-weight: bold;
}

/* Check features */

tr > td > label > input {
  visibility: hidden;
}

tr > td {
  max-width: 100%;
}

tr > td > label {
  display: block;
  /*border: 2px solid grey;*/
  cursor: pointer;
}

tr > td > label:hover {
  background-color: AliceBlue;
}

tr > tdr > label > span {
  display: inline;
  vertical-align: top;
  line-height: 1em;
  font-size: 120%;
}

tr > td > label > input + i {
  visibility: hidden;
  color: green;
  margin-left: -0.5em;
  margin-right: 0.2em;
}

tr > td > label > input:checked + i {
  visibility: visible;
}

/* footer */

footer {
  border-top: 1px solid black;
}

footer a {
  color: white;
  font-weight: bold;
}

footer a:hover {
  color: gray;
}

footer p {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  display: inline;
  margin-right: 15px;
}

/* form errors */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* CUSTOM */

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/
/* iPhone4 (portrait) */
@media only screen and (min-width: 320px) {

  #logo {
    height: auto;
    width: auto;
    max-height: 285px;
    max-width: 285px;
    margin-top: 5%;
  }

  .subtitle {
    font-size: 120%;
  }

  #loginText {
    font-size: 150%;
    margin-top: -5%;
  }

  #loginSlot {
    margin-top: 5%;
  }

  .loginLabel {
    margin-top: 5%;
    font-weight: bold;
  }

  #loginButton {
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 120%;
  }

  #newUserText {
    font-size: 110%;
  }

  #signupText {
    font-size: 115%;
  }

  #aboutHead {
    font-size: 225%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #aboutText {
    font-size: 115%;
    margin-bottom: 5%;
  }

  .formHeader {
    margin-top: 0%;
    margin-bottom: 5%;
  }

  .formLabel {
    margin-top: 5%;
  }

  #submitFormButton {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #user_community_id {
    margin-left: -15%;
  }

}

/* iphone6 (portrait) */
@media only screen and (min-width: 360px) {

  #logo {
    height: auto;
    width: auto;
    max-height: 335px;
    max-width: 335px;
  }

  .subtitle {
    font-size: 150%;
  }

  #loginText {
    font-size: 175%;
  }

  .loginLabel {
    font-size: 135%;
  }

  .loginForm {
    font-size: 115%;
  }

  #rememberMeText {
    font-size: 115%;
  }

  #loginButton {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 125%;
  }

  #newUserText {
    font-size: 115%;
  }

  #signupText {
    font-size: 120%;
  }

  #aboutHead {
    font-size: 250%;
  }

  #aboutText {
    font-size: 130%;
  }

  #user_community_id {
    margin-left: 0%;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

  #logo {
    height: auto;
    width: auto;
    max-height: 440px;
    max-width: 440px;
  }

  .subtitle {
    font-size: 200%;
  }

  #loginText {
    font-size: 180%;
  }

  .loginLabel {
    font-size: 160%;
  }

  .loginForm {
    font-size: 145%;
  }

  #rememberMeText {
    font-size: 140%;
  }

  #loginButton {
    font-size: 150%;
  }

  #newUserText {
    font-size: 140%;
  }

  #aboutHead {
    font-size: 275%;
  }

  #aboutText {
    font-size: 150%;
  }

  footer a {
    font-size: 130%;
  }

}

/* iPhone 6 - landscape */
@media only screen and (min-width: 627px) and (orientation: landscape) {

  #logo {
    height: auto;
    width: auto;
    max-height: 475px;
    max-width: 475px;
    margin-top: 5%;
  }

  .subtitle {
    font-size: 215%;
  }

  #loginText {
    margin-top: 1%;
    font-size: 200%;
  }

  #loginSlot {
    margin-top: 0%;
  }

  #rememberMeText {
    font-size: 150%;
  }

  #loginButton {
    margin-top: 0%;
    font-size: 175%;
  }

  #newUserText {
    font-size: 150%;
  }

  #aboutHead {
    margin-bottom: 2%;
  }

  #aboutText {
    font-size: 155%;
  }

  .contactHead {
    font-size: 175%;
  }

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

  #logo {
    height: auto;
    width: auto;
    max-height: 635px;
    max-width: 635px;
  }

  .subtitle {
    font-size: 270%;
  }

  #loginText {
    font-size: 255%;
    margin-top: 5%;
  }

  #loginSlot {
    margin-top: 5%;
  }

  .loginLabel {
    font-size: 200%;
  }

  .loginForm {
    font-size: 170%;
  }

  #rememberMeText {
    font-size: 170%;
  }

  #loginButton {
    font-size: 200%;
  }

  #newUserText {
    font-size: 170%;
  }

  #aboutHead {
    font-size: 350%;
    margin-bottom: 2%;
  }

  #aboutText {
    font-size: 200%;
  }

  .contactHead {
    font-size: 200%;
  }

  footer a {
    font-size: 175%;
  }

  .formLabel {
    font-size: 125%;
  }

  #user_community_id {
    font-size: 125%;
  }

  #submitFormButton {
    font-size: 150%;
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

  #logo {
    height: auto;
    width: auto;
    max-height: 650px;
    max-width: 650px;
    margin-top: 1%;
  }

  .subtitle {
    font-size: 275%;
  }

  #loginText {
    font-size: 250%;
    margin-top: 0%;
  }

  #loginButton {
    margin-top: 3%;
  }

  #aboutHead {
    font-size: 375%;
    margin-top: 2%;
  }

  #aboutText {
    font-size: 250%;
  }

  .contactHead {
    font-size: 215%;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

  #logo {
    height: auto;
    width: auto;
    max-height: 700px;
    max-width: 700px;
  }

  .subtitle {
    font-size: 300%;
  }

  #loginText {
    font-size: 275%;
  }

  .loginLabel {
    font-size: 215%;
  }

  .loginForm {
    font-size: 170%;
  }

  #rememberMeText {
    font-size: 175%;
  }

  #loginButton {
    font-size: 215%;
  }

  #newUserText {
    font-size: 175%;
  }

  #aboutHead {
    font-size: 400%;
    margin-bottom: 1%;
  }

  #aboutText {
    font-size: 265%;
  }

  .formLabel {
    margin-top: 2%;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1400px) {

  #loginSlot {
    margin-top: 0%;
  }

}